@import '../../../../style/variables';

.build-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;

    button {
        display: block;
        font: inherit;
        padding: 5px;
        margin: 0 5px;
        width: 80px;
        border: 1px solid $color-yellow;
        cursor: pointer;
        outline: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;

        &:disabled {
            background-color: #AC9980;
            border: 1px solid #7E7365;
            color: #ccc;
            cursor: default;
        }
        
        &:hover:disabled {
            background-color: #AC9980;
            color: #ccc;
            cursor: not-allowed;
        }
    }

    .label {
        padding: 10px;
        font-weight: bold;
        width: 80px;
    }

    .less {  
        background-color: #D39952;
        color: white;

        &:hover,
        &:active {
            background-color: #DAA972;
            color: white;
        }
    }

    .more {
        background-color: #8F5E1E;
        color: white;

        &:hover,
        &:active {
            background-color: #99703F;
            color: white;   
        }
    }
}

