@import '~style/variables';

.logo {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-white;
    padding: 8px;
    height: 80%;

    img {
        height: 100%;
    }
}