// COLORS

$color-black: #000;
$color-white: #FFF;
$color-grey: #CCC;
$color-yellow: #CF8F2E;
$color-green: #5C9210;
$color-orange: #944317;
$color-brown: #703B09;
$color-brown-light: #8F5C2C;
$color-blue-sky: #40A4C8;

// Responsive media-queries

$mobile: 767px;