@import '~style/variables';

.input {
    width: 100%;
    padding: 10px;
    position: relative;

    label {
        font-weight: bold;
        display: block;
        margin-bottom: 8px;
        text-align: left;
    }

    input,
    textarea,
    select {
        outline: none;
        border: 1px solid $color-grey;
        padding: 6px 10px;
        display: block;
        width: 100%;

        &:focus {
            outline: none;
            background-color: $color-grey;
        }

        &.invalid {
            border: 1px solid $color-red;
        }
    }

    .error-message {
        position: absolute;
        left: 30%;
        top: 27px;
        color: $color-red;
    }
}