@import '~style/variables';

.navigation-items {
    position: fixed;
    top: 56px;
    left: 0;
    width: 70%;
    max-width: 280px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: calc(100% - 56px);
    background-color: $color-white;
    transform: translateX(-100%);
    transition: transform .3s ease-out;
    z-index: 15;

    &.active {
        transform: translateX(0);
    }

    .navigation-item {
        display: flex;
        a {
            color: $color-brown;
            text-decoration: none;
            padding: 16px 10px;
            border-bottom: 4px solid transparent;
        }
    }
}

@media (min-width: $mobile) {
    .navigation-items {
        position: static;
        width: auto;
        max-width: unset;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        transform: translateX(0);
    
        .navigation-item {
            margin: 0;
            height: 100%;
            align-items: center;

            a {
                height: 100%;
                color: $color-white;

                &:hover,
                &:active,
                &.active {
                    background-color: $color-brown-light;
                    border-bottom: 4px solid $color-blue-sky;
                    color: $color-white;
                }
            }
        }
    }
}